---
version: 1
interactions:
- request:
    body: '{"name":"k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6","location":"westus","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-06-01","name":"k8sinfratest-rg-ftrtka","location":"westus","tags":{"CreatedAt":"2021-03-26T21:39:24Z"},"type":"Microsoft.Resources/resourceGroups"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Resources/resourceGroups'', ''k8sinfratest-rg-ftrtka'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6?api-version=2019-10-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6","name":"k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"8157820267015873968","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-03-26T21:39:27.2595125Z","duration":"PT1.7034287S","correlationId":"731d1e7b-daba-4651-a948-f8d24e56c1e0","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6/operationStatuses/08585848121199215271?api-version=2019-10-01
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6","name":"k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"8157820267015873968","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-03-26T21:39:27.2595125Z","duration":"PT1.7034287S","correlationId":"731d1e7b-daba-4651-a948-f8d24e56c1e0","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6","name":"k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"8157820267015873968","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Succeeded","timestamp":"2021-03-26T21:39:28.8329056Z","duration":"PT3.2768218S","correlationId":"731d1e7b-daba-4651-a948-f8d24e56c1e0","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[],"outputs":{"resourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/resourceGroups/k8sinfratest-rg-ftrtka"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka?api-version=2020-06-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka","name":"k8sinfratest-rg-ftrtka","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"CreatedAt":"2021-03-26T21:39:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_0334068e-ef3f-5991-873e-e21c3f6a49c6?api-version=2019-10-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtLUs4Uzo1RjAzMzQwNjhFOjJERUYzRjoyRDU5OTE6MkQ4NzNFOjJERTIxQzNGNkE0OUM2LSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-10-01
      Retry-After:
      - "15"
      X-Ms-Ratelimit-Remaining-Subscription-Deletes:
      - "14999"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"k8s_53ba59f3-dcc7-55d0-a25c-ea735359c100","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-05-01","location":"westus","name":"k8sinfratest-vnet-bjwueq","properties":{"addressSpace":{"addressPrefixes":["172.16.0.0/24"]}},"type":"Microsoft.Network/virtualNetworks"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/virtualNetworks'', ''k8sinfratest-vnet-bjwueq'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Resources/deployments/k8s_53ba59f3-dcc7-55d0-a25c-ea735359c100?api-version=201[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Resources/deployments/k8s_53ba59f3-dcc7-55d0-a25c-ea735359c100?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Resources/deployments/k8s_53ba59f3-dcc7-55d0-a25c-ea735359c100","name":"k8s_53ba59f3-dcc7-55d0-a25c-ea735359c100","type":"Microsoft.Resources/deployments","properties":{"templateHash":"1449292947262412732","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-03-26T21:39:34.9339155Z","duration":"PT0.1025688S","correlationId":"c20bf3b0-d60d-4005-9b2b-a5935b4177ea","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-bjwueq?api-version=2020-05-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"k8sinfratest-vnet-bjwueq\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-bjwueq\",\r\n  \"etag\": \"W/\\\"c93ba0ee-af5f-47a5-82a2-f28d4dc17e04\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b156b975-ee15-4939-b7b9-a48def44e7f2\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"172.16.0.0/24\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c93ba0ee-af5f-47a5-82a2-f28d4dc17e04"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"k8s_ddc12d95-f332-5f1c-8668-d3071443813e","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-05-01","name":"k8sinfratest-vnet-bjwueq/k8sinfratest-subnet-lgchpc","properties":{"addressPrefix":"172.16.0.0/24"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/virtualNetworks/subnets'', ''k8sinfratest-vnet-bjwueq'', ''k8sinfratest-subnet-lgchpc'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Resources/deployments/k8s_ddc12d9[...]
- request:
    body: '{"name":"k8s_ddc12d95-f332-5f1c-8668-d3071443813e","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-05-01","name":"k8sinfratest-vnet-bjwueq/k8sinfratest-subnet-lgchpc","properties":{"addressPrefix":"172.16.0.0/24"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/virtualNetworks/subnets'', ''k8sinfratest-vnet-bjwueq'', ''k8sinfratest-subnet-lgchpc'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Resources/deployments/k8s_ddc12d95-f332-5f1c-8668-d3071443813e?api-version=2019-10-01
    method: PUT
  response:
    body: '{"error":{"code":"DeploymentActive","message":"Unable to edit or replace deployment ''k8s_ddc12d95-f332-5f1c-8668-d3071443813e'': previous deployment from ''3/26/2021 9:39:45 PM'' is still active (expiration time is ''4/2/2021 9:39:45 PM''). Please see https://aka.ms/arm-deploy for usage details."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-bjwueq/subnets/k8sinfratest-subnet-lgchpc?api-version=2020-05-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"k8sinfratest-subnet-lgchpc\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-bjwueq/subnets/k8sinfratest-subnet-lgchpc\",\r\n  \"etag\": \"W/\\\"173eb19e-4fdf-45b5-b5f5-d36583602329\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"172.16.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"173eb19e-4fdf-45b5-b5f5-d36583602329"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"k8s_5fb1d65c-d455-5bf6-a071-b6499f22828f","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-05-01","location":"westus","name":"k8sinfratest-publicip-jwwvys","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"},"type":"Microsoft.Network/publicIPAddresses"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/publicIPAddresses'', ''k8sinfratest-publicip-jwwvys'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Resources/deployments/k8s_5fb1d65c-d455-5bf6-a071-b6499f22828f?api-ver[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/publicIPAddresses/k8sinfratest-publicip-jwwvys?api-version=2020-05-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"k8sinfratest-publicip-jwwvys\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/publicIPAddresses/k8sinfratest-publicip-jwwvys\",\r\n  \"etag\": \"W/\\\"3e978f39-4d5e-4ae0-9f8f-298b4942369f\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d1b659aa-c046-4522-af18-f79ef459afea\",\r\n    \"ipAddress\": \"138.91.140.161\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-gwugus/frontendIPConfigurations/LoadBalancerFrontend\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e978f39-4d5e-4ae0-9f8f-298b4942369f"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"k8s_545d3e60-6712-568e-93b1-a793cfc2dfac","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-05-01","location":"westus","name":"k8sinfratest-loadbalancer-gwugus","properties":{"frontendIPConfigurations":[{"name":"LoadBalancerFrontend","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/publicIPAddresses/k8sinfratest-publicip-jwwvys"}}}],"inboundNatPools":[{"name":"MyFancyNatPool","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-gwugus/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPortRangeEnd":51000,"frontendPortRangeStart":50000,"protocol":"Tcp"}}]},"sku":{"name":"Standard"},"type":"Microsoft.Network/loadBalancers"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/loadBalancers'', ''k8sinfratest-loadbalancer-gwugus'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Resources/deployments/k8s_545d3e60-6712-568e-93b1-a793cfc2[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-gwugus?api-version=2020-05-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"k8sinfratest-loadbalancer-gwugus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-gwugus\",\r\n  \"etag\": \"W/\\\"cfaf718b-fb2f-4719-a90b-e0a2bc7e138c\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"df6abbc3-3065-4a20-84ea-2e31cde8f8c7\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"LoadBalancerFrontend\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-gwugus/frontendIPConfigurations/LoadBalancerFrontend\",\r\n        \"etag\": \"W/\\\"cfaf718b-fb2f-4719-a90b-e0a2bc7e138c\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/publicIPAddresses/k8sinfratest-publicip-jwwvys\"\r\n          },\r\n          \"inboundNatPools\": [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-gwugus/inboundNatPools/MyFancyNatPool\"\r\n            }\r\n          ],\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": [\r\n      {\r\n        \"name\": \"MyFancyNatPool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-gwugus/inboundNatPools/MyFancyNatPool\",\r\n        \"etag\": \"W/\\\"cfaf718b-fb2f-4719-a90b-e0a2bc7e138c\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendPortRangeStart\": 50000,\r\n          \"frontendPortRangeEnd\": 51000,\r\n          \"backendPort\": 22,\r\n          \"protocol\": \"Tcp\",\r\n          \"idleTimeoutInMinutes\": 4,\r\n          \"enableFloatingIP\": false,\r\n          \"enableDestinationServiceEndpoint\": false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\": false,\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-gwugus/frontendIPConfigurations/LoadBalancerFrontend\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/inboundNatPools\"\r\n      }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cfaf718b-fb2f-4719-a90b-e0a2bc7e138c"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"k8s_3e5298f2-cb91-5f14-8a1a-cf485c24e429","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2019-07-01","location":"westus","name":"k8sinfratest-vmss-cmwetx","properties":{"platformFaultDomainCount":3,"singlePlacementGroup":false,"upgradePolicy":{"mode":"Automatic"},"virtualMachineProfile":{"networkProfile":{"networkInterfaceConfigurations":[{"name":"mynicconfig","properties":{"ipConfigurations":[{"name":"myipconfiguration","properties":{"loadBalancerInboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-gwugus/inboundNatPools/MyFancyNatPool"}],"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-bjwueq/subnets/k8sinfratest-subnet-lgchpc"}}}],"primary":true}}]},"osProfile":{"adminUsername":"adminUser","computerNamePrefix":"computer","linuxConfiguration":{"disablePasswordAuthentication":true,"ssh":{"publicKeys":[{"keyData":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCaDkzXaZH5knbsxaRV1zpe50c8lK60NRDiqRJi+LRvlui7BBO3PhpdeZ+WtTXdqTTbL0FH6/9Az3drM7v4doW+CXh9Hc8KATlQAB1fzo+H8P+L1qaNtk/143ipmF+wqI4Lt5PSZyVqdfWii0VF2Mo1t7XU+U/nNT+g6C5PUZLzLMFQFwur+bexbUBXQMmPArLTX3+CnzJ04p8sGKrkHlqfOHg9ixVOh4eUJt/76Xiix75CwlX18nYQYf96T9Oqa+Y7le+Soauvz9RmZVA2ZyYkF9dDIPq0vzG++5AFQWCKdIjTd0EyNcjZa2/5PS2Uz4wos1WV48W7cVUpPBK5UEoZ\n","path":"/home/adminUser/.ssh/authorized_keys"}]}}},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"18.04-lts","version":"latest"}}}},"sku":{"capacity":1,"name":"STANDARD_D1_v2"},"type":"Microsoft.Compute/virtualMachineScaleSets"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Compute/virtualMachineScaleSets'', ''k8sinfratest-vmss-cmwetx'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Resources/deployments/k8s_3e5298f2-cb91-5f14-8a1a-cf485[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Compute/virtualMachineScaleSets/k8sinfratest-vmss-cmwetx?api-version=2019-07-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"k8sinfratest-vmss-cmwetx\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Compute/virtualMachineScaleSets/k8sinfratest-vmss-cmwetx\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"STANDARD_D1_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": false,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"computer\",\r\n        \"adminUsername\": \"adminUser\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": true,\r\n          \"ssh\": {\r\n            \"publicKeys\": [\r\n              {\r\n                \"path\": \"/home/adminUser/.ssh/authorized_keys\",\r\n                \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCaDkzXaZH5knbsxaRV1zpe50c8lK60NRDiqRJi+LRvlui7BBO3PhpdeZ+WtTXdqTTbL0FH6/9Az3drM7v4doW+CXh9Hc8KATlQAB1fzo+H8P+L1qaNtk/143ipmF+wqI4Lt5PSZyVqdfWii0VF2Mo1t7XU+U/nNT+g6C5PUZLzLMFQFwur+bexbUBXQMmPArLTX3+CnzJ04p8sGKrkHlqfOHg9ixVOh4eUJt/76Xiix75CwlX18nYQYf96T9Oqa+Y7le+Soauvz9RmZVA2ZyYkF9dDIPq0vzG++5AFQWCKdIjTd0EyNcjZa2/5PS2Uz4wos1WV48W7cVUpPBK5UEoZ\\n\"\r\n              }\r\n            ]\r\n          },\r\n          \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"osType\": \"Linux\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n          \"diskSizeGB\": 30\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\": \"18.04-lts\",\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"mynicconfig\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"myipconfiguration\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-bjwueq/subnets/k8sinfratest-subnet-lgchpc\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-gwugus/inboundNatPools/MyFancyNatPool\"}]}}]}}]},\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\n          {\r\n            \"name\": \"Microsoft.Azure.Monitor.AzureMonitorLinuxAgent\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"publisher\": \"Microsoft.Azure.Monitor\",\r\n              \"type\": \"AzureMonitorLinuxAgent\",\r\n              \"typeHandlerVersion\": \"1.0\",\r\n              \"settings\": {\"GCS_AUTO_CONFIG\":true}\r\n            }\r\n          },\r\n          {\r\n            \"name\": \"Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"publisher\": \"Microsoft.Azure.Security.Monitoring\",\r\n              \"type\": \"AzureSecurityLinuxAgent\",\r\n              \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\": {\"enableGenevaUpload\":true}\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\": true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\": \"1dea4116-bc28-4ec5-8f5c-9eb03a20572f\",\r\n    \"platformFaultDomainCount\": 3\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetVMScaleSet3Min;395,Microsoft.Compute/GetVMScaleSet30Min;2567
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-ftrtka/providers/Microsoft.Compute/virtualMachineScaleSets/k8sinfratest-vmss-cmwetx?api-version=2019-07-01
    method: DELETE
  response:
    body: ""
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/f2228e89-9b37-45d8-99a2-9963c28d1673?api-version=2019-07-01
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/f2228e89-9b37-45d8-99a2-9963c28d1673?monitor=true&api-version=2019-07-01
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/DeleteVMScaleSet3Min;79,Microsoft.Compute/DeleteVMScaleSet30Min;398,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1196,Microsoft.Compute/VmssQueuedVMOperations;0
[...]
