---
version: 1
interactions:
- request:
    body: '{"name":"k8s_040ea125-13aa-59b5-ac91-60b242242cab","location":"westus","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-06-01","name":"k8sinfratest-rg-sbiboa","location":"westus","tags":{"CreatedAt":"2021-03-15T17:29:52Z"},"type":"Microsoft.Resources/resourceGroups"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Resources/resourceGroups'', ''k8sinfratest-rg-sbiboa'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_040ea125-13aa-59b5-ac91-60b242242cab?api-version=2019-10-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_040ea125-13aa-59b5-ac91-60b242242cab","name":"k8s_040ea125-13aa-59b5-ac91-60b242242cab","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"4828958741923987644","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-03-15T17:29:53.4966959Z","duration":"PT0.5624657S","correlationId":"284f8fcc-5c30-4f33-bbe5-0fc28b820447","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_040ea125-13aa-59b5-ac91-60b242242cab/operationStatuses/08585857774925433839?api-version=2019-10-01
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_040ea125-13aa-59b5-ac91-60b242242cab?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_040ea125-13aa-59b5-ac91-60b242242cab","name":"k8s_040ea125-13aa-59b5-ac91-60b242242cab","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"4828958741923987644","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-03-15T17:29:53.4966959Z","duration":"PT0.5624657S","correlationId":"284f8fcc-5c30-4f33-bbe5-0fc28b820447","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_040ea125-13aa-59b5-ac91-60b242242cab?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_040ea125-13aa-59b5-ac91-60b242242cab","name":"k8s_040ea125-13aa-59b5-ac91-60b242242cab","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"4828958741923987644","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Succeeded","timestamp":"2021-03-15T17:29:54.1641576Z","duration":"PT1.2299274S","correlationId":"284f8fcc-5c30-4f33-bbe5-0fc28b820447","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[],"outputs":{"resourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/resourceGroups/k8sinfratest-rg-sbiboa"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa?api-version=2020-06-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa","name":"k8sinfratest-rg-sbiboa","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"CreatedAt":"2021-03-15T17:29:52Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_040ea125-13aa-59b5-ac91-60b242242cab?api-version=2019-10-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtLUs4Uzo1RjA0MEVBMTI1OjJEMTNBQToyRDU5QjU6MkRBQzkxOjJENjBCMjQyMjQyQ0FCLSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-10-01
      Retry-After:
      - "15"
      X-Ms-Ratelimit-Remaining-Subscription-Deletes:
      - "14999"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"k8s_2cd705be-5179-5391-b0b8-83f5305b2046","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-05-01","location":"westus","name":"k8sinfratest-vnet-fhyuzx","properties":{"addressSpace":{"addressPrefixes":["172.16.0.0/16"]}},"type":"Microsoft.Network/virtualNetworks"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/virtualNetworks'', ''k8sinfratest-vnet-fhyuzx'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Resources/deployments/k8s_2cd705be-5179-5391-b0b8-83f5305b2046?api-version=201[...]
- request:
    body: '{"name":"k8s_2cd705be-5179-5391-b0b8-83f5305b2046","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-05-01","location":"westus","name":"k8sinfratest-vnet-fhyuzx","properties":{"addressSpace":{"addressPrefixes":["172.16.0.0/16"]}},"type":"Microsoft.Network/virtualNetworks"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/virtualNetworks'', ''k8sinfratest-vnet-fhyuzx'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Resources/deployments/k8s_2cd705be-5179-5391-b0b8-83f5305b2046?api-version=2019-10-01
    method: PUT
  response:
    body: '{"error":{"code":"DeploymentActive","message":"Unable to edit or replace deployment ''k8s_2cd705be-5179-5391-b0b8-83f5305b2046'': previous deployment from ''3/15/2021 5:30:02 PM'' is still active (expiration time is ''3/22/2021 5:30:02 PM''). Please see https://aka.ms/arm-deploy for usage details."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Resources/deployments/k8s_2cd705be-5179-5391-b0b8-83f5305b2046?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Resources/deployments/k8s_2cd705be-5179-5391-b0b8-83f5305b2046","name":"k8s_2cd705be-5179-5391-b0b8-83f5305b2046","type":"Microsoft.Resources/deployments","properties":{"templateHash":"18330984526492445294","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Running","timestamp":"2021-03-15T17:30:02.4597497Z","duration":"PT0.2420381S","correlationId":"fd42e964-c3d8-4941-9f1d-d28564abac33","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-fhyuzx?api-version=2020-05-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"k8sinfratest-vnet-fhyuzx\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-fhyuzx\",\r\n  \"etag\": \"W/\\\"c932d66d-7dc3-42f8-9d5e-eef26281c137\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"1843973e-c887-44ff-8254-8c555fa6b6df\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"172.16.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c932d66d-7dc3-42f8-9d5e-eef26281c137"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"k8s_4db4e33b-a39c-589d-90ba-8589be894a46","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-05-01","name":"k8sinfratest-vnet-fhyuzx/k8sinfratest-subnet-besnog","properties":{"addressPrefix":"172.16.0.0/24"},"type":"Microsoft.Network/virtualNetworks/subnets"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/virtualNetworks/subnets'', ''k8sinfratest-vnet-fhyuzx'', ''k8sinfratest-subnet-besnog'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Resources/deployments/k8s_4db4e33[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-fhyuzx/subnets/k8sinfratest-subnet-besnog?api-version=2020-05-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"k8sinfratest-subnet-besnog\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-fhyuzx/subnets/k8sinfratest-subnet-besnog\",\r\n  \"etag\": \"W/\\\"cd26ab4b-3771-450c-aafb-98f5a0f78b9f\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"172.16.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cd26ab4b-3771-450c-aafb-98f5a0f78b9f"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-fhyuzx/subnets/k8sinfratest-subnet-besnog?api-version=2020-05-01
    method: GET
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-fhyuzx/subnets/k8sinfratest-subnet-besnog not found.\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/k8sinfratest-vnet-fhyuzx?api-version=2020-05-01
    method: DELETE
  response:
    body: ""
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c0f596fd-d295-434d-9c4a-a31f1d108bf3?api-version=2020-05-01
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/c0f596fd-d295-434d-9c4a-a31f1d108bf3?api-version=2020-05-01
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Subscription-Deletes:
      - "14995"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
