---
version: 1
interactions:
- request:
    body: '{"name":"k8s_6f177178-7497-5ddd-b0ca-09b09f920619","location":"westus","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-06-01","name":"k8sinfratest-rg-dheveu","location":"westus","tags":{"CreatedAt":"2021-03-26T17:26:51Z"},"type":"Microsoft.Resources/resourceGroups"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Resources/resourceGroups'', ''k8sinfratest-rg-dheveu'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_6f177178-7497-5ddd-b0ca-09b09f920619?api-version=2019-10-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_6f177178-7497-5ddd-b0ca-09b09f920619","name":"k8s_6f177178-7497-5ddd-b0ca-09b09f920619","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"6902606851090033964","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-03-26T17:26:53.3507928Z","duration":"PT0.7742919S","correlationId":"fb90e644-4615-43e5-9102-3dd82233750f","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_6f177178-7497-5ddd-b0ca-09b09f920619/operationStatuses/08585848272729011061?api-version=2019-10-01
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_6f177178-7497-5ddd-b0ca-09b09f920619?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_6f177178-7497-5ddd-b0ca-09b09f920619","name":"k8s_6f177178-7497-5ddd-b0ca-09b09f920619","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"6902606851090033964","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-03-26T17:26:53.3507928Z","duration":"PT0.7742919S","correlationId":"fb90e644-4615-43e5-9102-3dd82233750f","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_6f177178-7497-5ddd-b0ca-09b09f920619?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_6f177178-7497-5ddd-b0ca-09b09f920619","name":"k8s_6f177178-7497-5ddd-b0ca-09b09f920619","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"6902606851090033964","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Succeeded","timestamp":"2021-03-26T17:26:58.205516Z","duration":"PT5.6290151S","correlationId":"fb90e644-4615-43e5-9102-3dd82233750f","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[],"outputs":{"resourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/resourceGroups/k8sinfratest-rg-dheveu"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu?api-version=2020-06-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu","name":"k8sinfratest-rg-dheveu","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"CreatedAt":"2021-03-26T17:26:51Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_6f177178-7497-5ddd-b0ca-09b09f920619?api-version=2019-10-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtLUs4Uzo1RjZGMTc3MTc4OjJENzQ5NzoyRDVEREQ6MkRCMENBOjJEMDlCMDlGOTIwNjE5LSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-10-01
      Retry-After:
      - "15"
      X-Ms-Ratelimit-Remaining-Subscription-Deletes:
      - "14999"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"k8s_c765b194-23d9-5cbb-afc0-591112b18d00","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-05-01","location":"westus","name":"k8sinfratest-publicip-nzgzkv","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"},"type":"Microsoft.Network/publicIPAddresses"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/publicIPAddresses'', ''k8sinfratest-publicip-nzgzkv'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-dheveu/providers/Microsoft.Resources/deployments/k8s_c765b194-23d9-5cbb-afc0-591112b18d00?api-ver[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Resources/deployments/k8s_c765b194-23d9-5cbb-afc0-591112b18d00?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Resources/deployments/k8s_c765b194-23d9-5cbb-afc0-591112b18d00","name":"k8s_c765b194-23d9-5cbb-afc0-591112b18d00","type":"Microsoft.Resources/deployments","properties":{"templateHash":"15288977761685740686","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-03-26T17:27:02.5143571Z","duration":"PT0.2687034S","correlationId":"413a4b49-7269-4bbd-8aa2-7e8ccf1f04c7","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/publicIPAddresses/k8sinfratest-publicip-nzgzkv?api-version=2020-05-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"k8sinfratest-publicip-nzgzkv\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/publicIPAddresses/k8sinfratest-publicip-nzgzkv\",\r\n  \"etag\": \"W/\\\"dad98174-da02-4ef9-9cf5-14f8ed831261\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f06573cc-71b6-4702-bcc5-3678a25417b4\",\r\n    \"ipAddress\": \"13.83.40.111\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dad98174-da02-4ef9-9cf5-14f8ed831261"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"k8s_1f7ea213-42a3-56f7-aa88-8a294e12e10f","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-05-01","location":"westus","name":"k8sinfratest-loadbalancer-lquvnk","properties":{"frontendIPConfigurations":[{"name":"LoadBalancerFrontend","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/publicIPAddresses/k8sinfratest-publicip-nzgzkv"}}}],"inboundNatPools":[{"name":"MyFancyNatPool","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPortRangeEnd":51000,"frontendPortRangeStart":50000,"protocol":"Tcp"}}]},"sku":{"name":"Standard"},"type":"Microsoft.Network/loadBalancers"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/loadBalancers'', ''k8sinfratest-loadbalancer-lquvnk'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-dheveu/providers/Microsoft.Resources/deployments/k8s_1f7ea213-42a3-56f7-aa88-8a294e12[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk?api-version=2020-05-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"k8sinfratest-loadbalancer-lquvnk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk\",\r\n  \"etag\": \"W/\\\"26ed2668-26e9-4ed0-a0f9-d7aceb66e46e\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f1019d4f-47dd-4586-918f-d5f0df5be107\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"LoadBalancerFrontend\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk/frontendIPConfigurations/LoadBalancerFrontend\",\r\n        \"etag\": \"W/\\\"26ed2668-26e9-4ed0-a0f9-d7aceb66e46e\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/publicIPAddresses/k8sinfratest-publicip-nzgzkv\"\r\n          },\r\n          \"inboundNatPools\": [\r\n            {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk/inboundNatPools/MyFancyNatPool\"\r\n            }\r\n          ],\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": [\r\n      {\r\n        \"name\": \"MyFancyNatPool\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk/inboundNatPools/MyFancyNatPool\",\r\n        \"etag\": \"W/\\\"26ed2668-26e9-4ed0-a0f9-d7aceb66e46e\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendPortRangeStart\": 50000,\r\n          \"frontendPortRangeEnd\": 51000,\r\n          \"backendPort\": 22,\r\n          \"protocol\": \"Tcp\",\r\n          \"idleTimeoutInMinutes\": 4,\r\n          \"enableFloatingIP\": false,\r\n          \"enableDestinationServiceEndpoint\": false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\": false,\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk/frontendIPConfigurations/LoadBalancerFrontend\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/inboundNatPools\"\r\n      }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26ed2668-26e9-4ed0-a0f9-d7aceb66e46e"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk?api-version=2020-05-01
    method: DELETE
  response:
    body: ""
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/92a280b0-7999-48aa-bef0-1bad22686dd7?api-version=2020-05-01
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/92a280b0-7999-48aa-bef0-1bad22686dd7?api-version=2020-05-01
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Subscription-Deletes:
      - "14996"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk?api-version=2020-05-01
    method: GET
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk not found.\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dheveu/providers/Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk?api-version=2020-05-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/loadBalancers/k8sinfratest-loadbalancer-lquvnk'' under resource group ''k8sinfratest-rg-dheveu'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
